.hidden {
    display: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form textarea {
  height: 100px;
  padding-top: 15px;
  border-radius: 20px;
  resize: vertical;
}

.contact-form button {
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
  transition: all 0.3s ease;
}

.contact-form button:hover {
  transform: scale(1.03);
}

.contact-inputs {
  height: 40px;
  border: none;
  outline: none;
  padding: 0px 25px;
  border-radius: 50px;
  background-color: var(--background);
}

.contact-inputs:focus {
  border: 2px solid var(--accent);
}

.contact-inputs::placeholder {
  color: var(--primary);
}
