.footer {
    background-color: var(--footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer p {
    color: var(--footer-text);
    margin-bottom: 0;
}

.footer .logo {
    color: var(--footer-text);
}

.footer-name-stack {
    text-align: left;
    color: var(--footer-text);
}

.footer-links {
    display: flex;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    gap: 25px;
    row-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links a {
    color: var(--footer-text);
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--background);
}

.portfolio-link {
    color: var(--footer-text);
}

.portfolio-link:hover {
    color: var(--background);
}