.nav-bar {
    display: flex;
    background-color: var(--background);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 15;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-bottom: 2px solid var(--accent);
}

.nav-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-section p {
    margin-bottom: 0;
    line-height: 1.3;
}

.logo {
    width: 40px;
    color: var(--primary);
    display: flex;
}

.name-stack {
    text-align: left;
}

.green-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(79, 227, 138);
    margin-right: 5px;
}

.small-screen-text {
    display: none;
}

/* mobile breakpoint */
@media screen and (max-width: 640px) {
  .nav-bar {
    padding: 10px 5px 10px 0px;
  }

  .name-stack {
    display: none;
  }
  
  .large-screen-text {
    display: none;
  }

  .small-screen-text {
    display: block;
  }

  svg {
    scale: 0.8;
  }

  .a-bubble {
    padding: 5px 15px;
  }
}