/* Put general CSS for the whole site in here */

:root {
  color-scheme: light;
  --text: #121212;
  --background: #ffeed7;
  --primary: #0e5130;
  --secondary: #9eb582;
  --accent: #b6ae86;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --text: #f3f2ec;
  --background: #2a2d2a;
  --primary: #85c16c;
  --secondary: #90d094;
  --accent: #c0c799;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);
}

body {
  background-color: var(--background);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    color-scheme: dark;
    --text: #f3f2ec;
    --background: #2a2d2a;
    --primary: #85c16c;
    --secondary: #90d094;
    --accent: #c0c799;
  }
}
