/* Put general CSS for the whole site in here */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  --text: #121212;
  --background: #ffeed7;
  --primary: #0e5130;
  --secondary: #9eb582;
  --accent: #b6ae86;

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --text: #f3f2ec;
  --background: #2a2d2a;
  --primary: #85c16c;
  --secondary: #90d094;
  --accent: #c0c799;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    color-scheme: dark;
    --text: #f3f2ec;
    --background: #2a2d2a;
    --primary: #85c16c;
    --secondary: #90d094;
    --accent: #c0c799;
  }
}
